<!doctype html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} CV</title>
  <link href="media/cv-screen.css" type="text/css" rel="stylesheet" media="screen">
  <link href="media/cv-print.css" type="text/css" rel="stylesheet" media="print">
</head>
<body>
  <div id="main">
    <div id="content">
    {{ content }}
    </div>
  </div>
  <footer>
    Dotnet Mentor Väst AB | Ekelundsgatan 1, 411 18 Göteborg | 0707-493603 | mikael.egner@dotnetmentor.se
  </footer>
</body>
</html>
